@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "shopitrack";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-200: #eef7ff;
  --color-base-300: #d9e9fa;
  --color-base-content: #082663;
  --color-primary: #1264e8;
  --color-primary-content: #ffffff;
  --color-secondary: #092c78;
  --color-secondary-content: #ffffff;
  --color-accent: #ff6848;
  --color-accent-content: #ffffff;
  --color-neutral: #122958;
  --color-neutral-content: #ffffff;
  --color-info: #1264e8;
  --color-info-content: #ffffff;
  --color-success: #12a879;
  --color-success-content: #ffffff;
  --color-warning: #f4b740;
  --color-warning-content: #082663;
  --color-error: #de4b5f;
  --color-error-content: #ffffff;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.875rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;

  --depth: 1;
  --noise: 0;
}